<div class="container-fluid">
	<div class="hero-unit">
		<h1>
			<p class="text-info">
        <%= link_to new_version_path do %>
          <i class="icon-share"></i>
          Add Version
        <% end %>
      </p>
		</h1>
	</div>
</div>